/* configurações gerais e reset de CSS */
html, body{
    height: 100vh;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}
body, p, ul, li, a, h1, h2 {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

/* CONTAINER */
.container{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/bg.jpg');
    display: flex; 
    justify-content: center;  
    align-items: center;
}

/* CONTAINER APP - TELA DO APP */

.container-app{
    height: 600px;
    width: 370px;
    background-color: rgba(255, 255, 255, .9);
    padding: 0 10px;
    overflow: auto;
    border-radius: 10px;
}

/* HEADER DA PAGINA  */

.container-app h1{
    font-size: 2.5em;
    text-align: center;
    margin-top: 15px;
}

.container-app p{
    text-align: center;
}
.container-app span{
    color: red;
    font-weight: bold;
}

/* CORPO DO APP */
.corpo{
    display: flex;
}

.lado-a a{
    display: block;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    width: 95%;
    font-size: 1.5em;
    font-weight: bold;
}
.lado-a a>i{
    margin-left: 10px;
}

.lado-a a:nth-child(1){
    margin-top: 50px;
    background-color: #518ec9;
}
.lado-a a:nth-child(2){
    background-color: #efa923;
    margin-bottom: 20px;
}

.lado-a p{
    font-size: 1.3em;
    color: #d72657;
    font-weight: bold;
}

.lado-b{
    display: flex;
    align-items: flex-end;
}

/* footer */

.footer{
    margin-top: 40px;
}
.footer p:nth-child(2){
    color: #4950a2;
    font-weight: bold;
}

/* MODAL */

.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-modal{
    width: 70%;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 20px;
}

.postos-encontrados{
    color: #d72657;
    margin-top: 20px;
}

.btn{
    margin: 10px 0;
    padding: 20px 10px;
    width: 70%;
    border: none;
    background-color: #4950a2;
    color: #fff;
    box-shadow: none;
    border-radius: 10px;
    font-size: 1.2em;
}

.esconde{
    display: none;
}

/* TELA LISTA */

.campo-pesquisa{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.cartao-lista{
    border-bottom: 2px solid #518ec9;
    margin-bottom: 30px;
}

.cartao-lista p:nth-child(1){
    font-weight: 900;
    color: #4950a2;
    font-size: 1.1em;
}
.cartao-lista p:nth-child(5){
    font-weight: 900;
    color: #d72657;
    font-size: 1.3em;
    padding: 10px;
    border: 2px solid #d72657;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto 30px auto;
    cursor: pointer;
}

.resultado{
    overflow: auto;
}