/* configurações gerais e reset de CSS */
body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}
body, p, ul, li, a, h1, h2 {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}